USE [master]
GO
/****** Object:  Database [MyStoreDB]    Script Date: 28.07.2023 15:57:33 ******/
CREATE DATABASE [MyStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyStoreDB]
GO
/****** Object:  Table [dbo].[StoreModel]    Script Date: 28.07.2023 15:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreModel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Adress] [nvarchar](50) NOT NULL,
	[Latitude] [decimal](18, 15) NULL,
	[Longitude] [decimal](18, 15) NULL,
 CONSTRAINT [PK_StoreModel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StoreModel] ON 

INSERT [dbo].[StoreModel] ([Id], [Name], [Adress], [Latitude], [Longitude]) VALUES (9, N'Yaklaşık 10km mersine doğru', N'Kumru Sokak', CAST(36.662154286972520 AS Decimal(18, 15)), CAST(34.413553029298790 AS Decimal(18, 15)))
INSERT [dbo].[StoreModel] ([Id], [Name], [Adress], [Latitude], [Longitude]) VALUES (12, N'Erdemlinin uzak ucu', N'Erdemli', CAST(37.553423736710870 AS Decimal(18, 15)), CAST(36.945991516113290 AS Decimal(18, 15)))
INSERT [dbo].[StoreModel] ([Id], [Name], [Adress], [Latitude], [Longitude]) VALUES (13, N'Adana Merkez', N'Adana', CAST(36.993846941738560 AS Decimal(18, 15)), CAST(35.315036773681650 AS Decimal(18, 15)))
SET IDENTITY_INSERT [dbo].[StoreModel] OFF
GO
USE [master]
GO
